[user]
	name = Oleh Stolyar
	email = oleh.stolyar@smarkets.com
[alias]
	lol = log --oneline --graph --decorate
	schwifty = push --set-upstream origin HEAD
[push]
	default = simple
[core]
	editor = vim
[help]
	autocorrect = 10 
