[user]
	name = Oleh Stolyar
	email = stolyar.oleh@gmail.com
[alias]
	lol = log --oneline --graph --decorate
	schwifty = push --set-upstream origin HEAD
[push]
	default = simple
[rebase]
	autosquash = true
[core]
	editor = vim
[help]
	autocorrect = 10 
