[submodule "themes/tomorrow-theme"]
	path = themes/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto
